<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>tofu toolkit</title>
</head>
<script src="../static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script src="../static/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

<body>
<div class="container" style="overflow: hidden;">
    <p onclick="window.location.href='/jump/mq'">RocketMQ Producer</p>
</div>
</body>
</html>